@import 'Mixins';

//
//  Breadcrumb
//
ul{
    &.breadCrumb{
        list-style:none;
        padding:0;
        margin:0 0 $margin 0;
        overflow:hidden;
        li{
            float:left;
            padding:0 $margin/2 0 0;
            @include setFont(16px, $lightgray, $defaultFont);
            strong{
                @include setFont(16px, $lightgray, $defaultFont);
                font-weight:600;
            }
            &:before{
                content:">";
                margin-right:$margin/2;
            }
            &:first-child{
                &:before{
                    display:none;
                }
            }
            &:last-child{
                font-weight:bold;
                line-height:18px;
                &:before{
                    font-weight:normal;
                }
            }
        }
    }
}