::-webkit-input-placeholder {
  color: #999999;
}

::-moz-placeholder {
  color: #999999;
}

:-ms-input-placeholder {
  color: #999999;
}

:-moz-placeholder {
  color: #999999;
}

header {
  background: #ffe600;
  height: 50px;
}

header img.logo {
  margin: 7px 0;
  display: block;
  max-width: 100%;
  height: auto;
}

header .searchBox .form-group {
  position: relative;
  margin: 0;
}

header .searchBox .form-group input.inputSearch {
  padding: 6px 50px 6px 15px;
  width: 100%;
  border: 0;
  margin: 8px 0;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  font-size: 18px;
  color: #999999;
  font-family: "Lato", sans-serif;
  line-height: 20px;
  line-height: 16px;
}

header .searchBox .form-group .btnSubmit {
  position: absolute;
  top: 8px;
  right: 0;
  height: 34px;
  width: 37px;
  padding: 0;
  border-radius: 0 3px 3px 0;
  -webkit-border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
}

header .searchBox .form-group .btnSubmit img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
